body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
}

.container {
    width: 900px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #D3D3D3;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #000080;
}
h2{
    margin: 5px;
    color: #050505;
    font-size: 25px;
    font-family:poppins;
    
   
}
.up{
    margin: 10px;
    width: 270px;
    height:270px;
    display:flex;
    gap:10px
}
.header img{
    width: 55px;
    height:55px;
    
}
.header{
    margin: 10px;
    display:flex;
    gap:10px
    
}
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1rem;
}

input, select {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #23f30c;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #e9f5e9;
    border-radius: 3px;
}

.hidden {
    display: none;
}

.footer {
    background-color: #0c0c0c;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .footer .links {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .footer .links li {
    display: inline;
  }

  .footer .links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }

  .footer .links a:hover {
    text-decoration: underline;
  }

  .footer .social-icons {
    margin: 10px 0;
  }

  .footer .social-icons a {
    margin: 0 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
  }

  .footer .social-icons a:hover {
    color: #1abc9c;
  }

  .footer p {
    margin: 10px 0 0;
    font-size: 12px;
  }
  .social-icons img{
    filter: invert(1);
    width:15px;
    height:15px

  }